@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../img/HTML.svg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-size: cover;
}

/*support me*/
.suppoprt-me {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
}

.support-me img {
  width: 100%;
  height: auto;
}

.heading2 {
  color: white;
  position: absolute;
  margin: 120px 0px 30px 0px;
  font-size: 30px;
  font-style: italic;
  margin-top: 140px;
}

.bground {
  background-image: url("../img/HTML.svg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-size: cover;
}

.downloadbt {
  margin-left: 42%;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 170px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.downloadbt:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.downloadbt:active {
  position: relative;
  top: 1px;
}

.word {
  margin-top: 2%;
  margin-left: 35%;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.data {
  margin-top: 5%;
  margin-left: 20%;
  color: azure;
  font-size: 25px;
  margin-bottom: 5%;
}

.coldata {
  color: aqua;
}

/* logo css */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  margin-bottom: -100px;

}

/*new*/
/* Include padding and border in total box size*/
/* Create two equal columns that float next to each other */
.colo {
  color: black;
}

.column-2 {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  height: 475px;
  margin: 30px;
  margin-right: 30px;
  margin-bottom: 70px;
  background-color: #FEDE00;
  line-height: 2;
}

/* Large profile image */
.large-profile {
  background: url('../img/about.svg');
  background-size: cover;
  background-position: center;
}

/* Section 4 */

/* Add space between sections */
.section-break {
  margin: 50px;
  height: 500px;
}

.section-heading {
  text-align: center;
  color: #ffffff;
  margin-top: 150px;
  margin-bottom: 100px;
  font-size: 35px;
}

/* Wide column */
.column-1 {
  width: 90%;
  height: auto;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 75px;
  background-color: white;
}

/* Table formatting */
.table-style {
  width: 100%;
  border-spacing: 24px;
}

/* Wide column */
.column-1 {
  width: 90%;
  height: auto;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 75px;
  background-color: white;
}

/* Table formatting */
.table-style {
  width: 100%;
  border-spacing: 24px;
}

/* Fifth section */

.column-2a {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  height: 450px;
  margin: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 55px;
  background-color: white;
}

/*  Section 3  */

.section-heading2 {
  text-align: center;
  color: #ffffff;
  margin-top: 450px;
  margin-bottom: 100px;
  font-size: 35px;
}

/* Sizing for Project Containers  */

.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin-bottom: 100px;
  margin-left: 180px;
  height: 250px;
}

/* Color and Images for Project Containers  */

.project-1 {
  background: url('../img/protoo.png');
  background-color: #209BFF;
  background-size: cover;
}

.project-2 {

  background: url('../img/mylogo.png');
  background-position-y: -80px;
  background-size: cover;
}

.project-3 {
  background: url('../img/logo.svg');
  background-size: 250px;
  background-position-x: 75px;
  background-repeat: no-repeat;
  background-color: hsla(0, 0%, 100%, 0.623);
}

/* .project-4 {
  background-color:#209BFF;
} */



/* Hover classes for individual project boxes */
.project-1:hover {
  background-color: #FEDE00;
}

.project-2:hover {
  background-color: #FEDE00;
}

.project-3:hover {
  background-color: #FEDE00;
}

.project-4:hover {
  background-color: #FEDE00;
}

/*col 5*/
.column-5 {
  float: left;
  width: 21%;
  padding: 10px;
  margin-left: 60px;
  margin-bottom: 80px;
  height: 250px;
}

.Certificates-1 {
  background: url('../img/cert1.jpeg');
  background-color: #209BFF;
  background-size: cover;
}

.Certificates-2 {

  background: url('../img/cer2.jpeg');
  background-size: cover;
}

.Certificates-3 {

  background: url('../img/Cert3.png');
  background-size: cover;
}

.Certificates-4 {
  background: url('../img/cert4.png');
  background-size: cover;
}

/* .Certificates-text {
  color: #ffffff;
  margin-top: 180px;
  text-align:center;
  font-size:50px;
} */


/* Hover classes for individual project boxes */
.Certificates-1:hover {
  background-color: #FEDE00;
}

.Certificates-2:hover {
  background-color: #FEDE00;
}

.Certificates-3:hover {
  background-color: #FEDE00;
}

.Certificates-4:hover {
  background-color: #FEDE00;
}

/*bt*/
.openbt {
  margin-top: 250px;
  margin-left: 130px;
  background-color: #47e1e6;
  border-radius: 34px;
  border: 1px solid #24c8d4;
  display: inline-block;
  cursor: pointer;
  color: #241924;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  padding: 12px 23px;
  text-decoration: none;
  text-shadow: -1px 0px 11px #305ed1;
}

.openbt:hover {
  background-color: #15ebeb;
}

.openbt:active {
  position: relative;
  top: 1px;
}

/*pop up*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0855ae;
}

.popup {
  background-color: #ffffff;
  width: 420px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  text-align: center;
}

.popup button {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup h2 {
  margin-top: -20px;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}

.popbt {
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #0f72e5;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
}

.footer-clean {
  padding: 50px 0;
  background-image: url(../img/HTML.svg);
  background-repeat: repeat;
  background-size: cover;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social>a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social>a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  color: white;
}

.ion-social-facebook::before {
  color: white;
}

.ion-social-twitter::before {
  color: white;
}

.ion-social-linkedin::before {
  color: white;
}

.ion-social-instagram::before {
  color: white;
}