
h1{
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
   
   }
  nav{
      color:white;
      text-align: center;
      border-bottom: 1px solid chartreuse;
  }
  li{
      color: coral;
      
  }

   div{
    border-bottom: 1px solid rgb(0, 225, 255);
       color:rgb(87, 87, 87);
       text-align: center;
       
   }

   body {
      background-color: rgb(53, 185, 147);
   }